chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
unsafe-perm=true
registry=http://npm.taimei.com/
operadriver_cdnurl=http://cdn.npm.taobao.org/dist/operadriver
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs
sass_binary_site=http://cdn.npm.taobao.org/dist/node-sass
electron_mirror=http://cdn.npm.taobao.org/dist/electron/
selenium_cdnurl=http://npm.taobao.org/mirrors/selenium
node_inspector_cdnurl=https://npm.taobao.org/mirrors/node-inspector
//r.npm.test.ppc.com/:_password="Ynl4MTAwMjAwLlBQQw=="
//r.npm.test.ppc.com/:username=baoyongxiang
//r.npm.test.ppc.com/:email=baoyongxiang@ppcredit.com
//r.npm.test.ppc.com/:always-auth=false
//r.npm.stage.ppc.com/:_password="Ynl4MTAwMjAwLlBQQw=="
//r.npm.stage.ppc.com/:username=baoyongxiang
//r.npm.stage.ppc.com/:email=baoyongxiang@ppcredit.com
//r.npm.stage.ppc.com/:always-auth=false
//localhost:4873/:_authToken="b4WXn6Vyqr2LiYoidphyYQ=="
//192.168.1.200:4873/:_authToken="VtMCkYJmYtZfElbjL5ZmQMDirqownUIf19E5UFqoH2A="
//npm.taimei.com/:_authToken="nCMSL/Pj/2pskdb2y0S8FQoI3cDwK9z8dHO2itBhcmE="
//192.168.1.185:7001/:_password=Ynl4MTAwMjAwLlRN
//192.168.1.185:7001/:username=baoyongxiang
//192.168.1.185:7001/:email=yongxiang.bao@mobilemd.cn
//192.168.1.185:7001/:always-auth=false
